<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Angular JS 学习</title>
  <style>
    div {
      transition: all linear 0.5s;
      background-color: lightblue;
      height:100px;

    }

    .ng-hide {
      height: 0;

    }
  </style>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
</head>

<body ng-app="myApp">
  <h1>隐藏DIV <input type="checkbox" ng-model="myCheck"></h1>
  <div ng-hide="myCheck"></div>

  <script type="text/javascript">
    var app = angular.module('myApp',['ngAnimate']);
  </script>
</body>

</html>
