<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Angular JS 学习</title>
  <script src="../bower_components/angular/angular.min.js"></script>
  <link rel="stylesheet" href="table.css">
</head>

<body>
  <div ng-app="app" ng-controller="myCtrl">
    <button ng-click="hide()">点我</button><br/>
    <p ng-hide="h">
      性: <input type="text" ng-model="firstname"/><br/>
      名: <input type="text" ng-model="lastname"/><br/>
      姓名: {{firstname + " " + lastname}}
    </p>
  </div>
  <script type="text/javascript">
    var app = angular.module("app",[]);
    app.controller("myCtrl",function($scope){
      $scope.firstname = "Jack";
      $scope.lastname = "Brance";
      $scope.h = false;
      $scope.hide = function(){
        $scope.h = !$scope.h
      }
    });
  </script>
</body>

</html>
