<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Angular JS 学习</title>
  <script src="../bower_components/angular/angular.min.js"></script>
</head>

<body>
  <div ng-app="myApp" ng-controller="myCtrl">
    反转前: {{msg}} <br/>
    反转后: {{ msg | reverse}} <br/>
  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.msg = "Runoob";
    });
    app.filter('reverse', function() { //可以注入依赖
      return function(text) {
        return text.split("").reverse().join("");
      }
    });
  </script>


</body>

</html>
